# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# emacs and other backups
*~
*.bak
*.swp

# mac things
.DS_Store

#root files
*.root

# specific for this project
.fastjet
runtest
runFromFile
runCreatePythiaEvents
runCreateThermalEvents
Makefile
